__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.env
.env.prod
.env.example
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
ml_api/src/models
data_ingestion/ml/models
venv
**/venv

datasets/