apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: hippo
spec:
  postgresVersion: 16
  patroni:
    dynamicConfiguration:
      postgresql:
        pg_hba:
        - host all all 0.0.0.0/0 md5
  users:
    - name: rhino
      password:
        type: AlphaNumeric
      databases:
        - coreii_knowledgegraph
        - postgres
      options: "SUPERUSER"
  instances:
    - name: instance1
      dataVolumeClaimSpec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: 5Gi
  backups:
    pgbackrest:
      repos:
        - name: repo1
          volume:
            volumeClaimSpec:
              accessModes:
                - "ReadWriteOnce"
              resources:
                requests:
                  storage: 1Gi
